<% if notice %>
  <p class="text-green-500"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="text-red-500"><%= alert %></p>
<% end %>

<% @polls.each do |poll| %>
  <%= render "components/ui/card", options: { class: "max-w-md mx-auto" } do %>
    <%= render "components/ui/card_header" do %>
      <h2 class="text-xl font-semibold"><%= poll[:question] %></h2>
    <% end %>
    <%= render "components/ui/card_content" do %>
      <% if @has_voted %>
        <p class="text-gray-600">You’ve already voted! Here are the results:</p>
        <ul class="space-y-2">
          <% poll[:options].each do |option, count| %>
            <li class="text-gray-700"><%= option %>: <%= count %> votes</li>
          <% end %>
        </ul>
      <% else %>
        <%= form_with url: polls_vote_path, method: :post do %>
          <ul class="space-y-2">
            <% poll[:options].each do |option, count| %>
              <li>
                <%= radio_button_tag "option", option, false, class: "mr-2" %>
                <%= label_tag "option_#{option}", "#{option}", class: "text-gray-700" %>
              </li>
            <% end %>
          </ul>
          <%= render "components/ui/button", content: "Vote", type: "submit", variant: "default", class: "mt-4" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
